@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font: normal 100%/1.5 Oxygen, sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@media only screen and (min-width: 60em) {
    html { 
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    html { 
        font-size: 120%;
    }
}
@media only screen and (min-width: 120em) {
    html { 
        font-size: 130%;
    }
}
.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.skip-links a {
    position:absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color:#000;
    color:#fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top:0;
}
body {
    margin: 0;
    padding: 0;
    height: 80em;
}
.flex {
    display: block;
    width: 100%;
}
.logo {
    height: 5em;
    float:left;
}

a {
    color: white;
}
.masthead {
    padding:none;
    background-color: white;

}

.logo {
    height: 7em;
    
}
.nav {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center;

}
.nav a { 
    color: #e19952;
    text-decoration: none;
}
.nav li {
    display: block;
    background-color: white;
    margin:.5em;
    padding: none;
    text-align: center;
}
.nav li a:hover{ 
    color:black;
}
.nav li a:active{
    color: white;
}

.nav: .nav-current:visited{
    color:white;
}

.nav-2 {
    padding-left: -1em;
}
.contact {
    display: none;
}

.intro {  
    padding: 1em;
    position: relative;
    top: 3em;
    width: 100%;
    background-color: rgba(100,50,0,0.5);
}

.intro-element {
    margin: 0;
    height: 1.5em;
}

.intro-header {
    color: white;
}


.call-action {
    text-align: center;
    color: rgba(255,255,255,0.8);
    line-height: .1em;
}
.sign-up {
    margin: 2em 0 0;
    font-size: 1em;
    font-family: ;
    text-align: center;
}
.background1 {
    background-image: url("../img/background1.png");
    background-size:cover;
    height: 30em;  
    position: relative;
    z-index: -1;
}
.info-1 {
    padding: 1em;
    position: relative;
    top: 14.5em;
    width: 100%;
    background-color: rgba(100,50,0,.7);
    color: rgba(255,255,255,0.9);
}
.info-2 {
    padding: 1em;
    position: relative;
    top: 14.5em;
    width: 100%;
    background-color: rgba(100,50,0,.7);
        color: rgba(255,255,255,0.8);

}
.background2 {
    background-image: url("../img/background2.gif");
    background-size:cover;
    height: 35em;  
    position: relative;
    top:-15em;
    z-index: 2;
}
.background3 {
    background-image: url("../img/background3.gif");
    background-size:cover;
    height: 33em;  
    position: relative;
    top:-29em;
    z-index: 3;
    margin-bottom: -5em;
}
figcaption {
    text-align: center;
}
.functions { 
    position:relative;
    background-color: white;
    top: -25em;
    height: 60em;
    text-align: center;
}
.icon-description {
    text-align: left;
}
.package-block {
    overflow: hidden;
    background-color: #e2e2e2;
}
.packages {
    text-align: center;
}
@media only screen and (min-width: 25em) {


    .nav li {
    display: inline-block;
    background-color: white;
    margin:.5em;
    padding: none;
    text-align: center;
}

}
@media only screen and (min-width: 34em) {

.nav {
    padding: none;
    list-style-type: none;
    overflow: hidden;
    text-align: right;
}
.intro {  
    position:relative;
    width: 30em;
    margin: 3em;
    top: 8em;
}
.call-action {
    text-align: left;
}
.sign-up {
    text-align: left;
}
.background1 {
    height: 35em;
    position:relative;
    top:-5em;
    text-align: right;

}
.info-1 {
    position: relative;
    width: 30em;
    margin-left: auto;
    margin-right: 3em;
    top: 21em; 
}
.info-2 {
    position: relative;
    width: 30em;
    margin: 3em;
    top: 28em;
}
.background2 {
    height: 50em;
    position:relative;
    top:-25em;
}
.background3 {
    height: 50em;
    position:relative;
    top:-55em;
}

.functions { 
    position:relative;
    top: -45em;
    height: 60em;
    text-align: center;
}
.icon-description {
    margin: 0 0 5em;
}
}
@media only screen and (min-width: 60em) {











